In [145]:
import psycopg2
from psycopg2.extensions import AsIs
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [157]:
def country_level_statistics(df, column):
    country_summary = df.groupby(['#country_name'])[column].agg({"Mean": np.mean,
                                                                 "Count": np.size})
    country_summary = pd.DataFrame(country_summary)
    country_summary['Mean'] = country_summary['Mean'].apply(lambda x: int(x))
    return country_summary

In [158]:
def district_level_statistics(df, column):
    district_summary = df.groupby(['#country_name', 'district'])[column].agg({"Mean": np.mean,
                                                                              "Count": np.size})
    district_summary = pd.DataFrame(district_summary)
    district_summary['Mean'] = district_summary['Mean'].apply(lambda x: int(x))
    return district_summary

In [159]:
def sub_district_level_statistics(df, column):
    sub_district_summary = df.groupby(['#country_name', 'district', 'sub-district'])[column].agg({"Mean": np.mean,
                                                                                                  "Count": np.size})
    sub_district_summary = pd.DataFrame(sub_district_summary)
    sub_district_summary['Mean'] = sub_district_summary['Mean'].apply(lambda x: int(x))
    return sub_district_summary

## Afghanistan

In [160]:
afghanistan_water = pd.read_csv("Abridged_Afghanistan_Water_and_Population_Data.csv")

In [161]:
afghanistan_country_summary = country_level_statistics(afghanistan_water, '1 km population')

In [162]:
afghanistan_district_summary = district_level_statistics(afghanistan_water, '1 km population')

In [163]:
afghanistan_sub_district_summary = sub_district_level_statistics(afghanistan_water, '1 km population')

## India

In [223]:
india_water = pd.read_csv("Abridged_India_Water_and_Population_Data.csv")

In [224]:
india_country_summary = country_level_statistics(india_water, '1 km population')

In [225]:
india_district_summary = district_level_statistics(india_water, '1 km population')

In [226]:
india_sub_district_summary = sub_district_level_statistics(india_water, '1 km population')

## Kenya

In [164]:
kenya_water = pd.read_csv("Abridged_Kenya_Water_and_Population_Data.csv")

In [165]:
kenya_country_summary = country_level_statistics(kenya_water, '1 km population')

In [166]:
kenya_district_summary = district_level_statistics(kenya_water, '1 km population')

In [167]:
kenya_sub_district_summary = sub_district_level_statistics(kenya_water, '1 km population')

## Liberia

In [168]:
liberia_water = pd.read_csv("Abridged_Liberia_Water_and_Population_Data.csv")

In [169]:
liberia_country_summary = country_level_statistics(liberia_water, '1 km population')

In [170]:
liberia_district_summary = district_level_statistics(liberia_water, '1 km population')

In [171]:
liberia_sub_district_summary = sub_district_level_statistics(liberia_water, '1 km population')

## Malawi

In [172]:
malawi_water = pd.read_csv("Abridged_Malawi_Water_and_Population_Data.csv")

In [173]:
malawi_country_summary = country_level_statistics(malawi_water, '1 km population')

In [174]:
malawi_district_summary = district_level_statistics(malawi_water, '1 km population')

In [175]:
malawi_sub_district_summary = sub_district_level_statistics(malawi_water, '1 km population')

## Sierra Leone

In [176]:
sierra_leone_water = pd.read_csv("Abridged_Sierra Leone_Water_and_Population_Data.csv")

In [177]:
sierra_leone_country_summary = country_level_statistics(sierra_leone_water, '1 km population')

In [178]:
sierra_leone_district_summary = district_level_statistics(sierra_leone_water, '1 km population')

In [179]:
sierra_leone_sub_district_summary = sub_district_level_statistics(sierra_leone_water, '1 km population')

## South Sudan

In [180]:
south_sudan_water = pd.read_csv("Abridged_South Sudan_Water_and_Population_Data.csv")

In [181]:
south_sudan_country_summary = country_level_statistics(south_sudan_water, '1 km population')

In [182]:
south_sudan_district_summary = district_level_statistics(south_sudan_water, '1 km population')

In [183]:
south_sudan_sub_district_summary = sub_district_level_statistics(south_sudan_water, '1 km population')

## Swaziland

In [184]:
swaziland_water = pd.read_csv("Abridged_Swaziland_Water_and_Population_Data.csv")

In [185]:
swaziland_country_summary = country_level_statistics(swaziland_water, '1 km population')

In [186]:
swaziland_district_summary = district_level_statistics(swaziland_water, '1 km population')

In [187]:
swaziland_sub_district_summary = sub_district_level_statistics(swaziland_water, '1 km population')

## Uganda

In [198]:
uganda_water = pd.read_csv("Abridged_Uganda_Water_and_Population_Data.csv")

In [199]:
uganda_country_summary = country_level_statistics(uganda_water, '1 km population')

In [200]:
uganda_district_summary = district_level_statistics(uganda_water, '1 km population')

In [201]:
uganda_sub_district_summary = sub_district_level_statistics(uganda_water, '1 km population')

## Zimbabwe

In [188]:
zimbabwe_water = pd.read_csv("Abridged_Zimbabwe_Water_and_Population_Data.csv")

In [189]:
zimbabwe_country_summary = country_level_statistics(zimbabwe_water, '1 km population')

In [190]:
zimbabwe_district_summary = district_level_statistics(zimbabwe_water, '1 km population')

In [191]:
zimbabwe_sub_district_summary = sub_district_level_statistics(zimbabwe_water, '1 km population')

## Concatenated Summaries

In [227]:
country_summaries = pd.concat([afghanistan_country_summary,
                              india_country_summary,
                              kenya_country_summary,
                              liberia_country_summary,
                              malawi_country_summary,
                              sierra_leone_country_summary,
                              south_sudan_country_summary,
                              swaziland_country_summary,
                              uganda_country_summary,
                              zimbabwe_country_summary])

country_summaries = country_summaries.reset_index()
country_summaries.columns = ['country_name', 'Number of Water Points', 'Mean 1 km population per well']

In [228]:
country_summaries

   country_name  Number of Water Points  Mean 1 km population per well
0   Afghanistan                   59849                           2284
1         India                    5887                           4736
2         Kenya                   21207                           1827
3       Liberia                   14053                           5257
4        Malawi                   12260                           3863
5  Sierra Leone                   54864                           9367
6   South Sudan                    6088                           1126
7     Swaziland                   23784                            670
8        Uganda                  113667                           1369
9      Zimbabwe                   38777                            116

In [229]:
district_summaries = pd.concat([afghanistan_district_summary,
                                india_district_summary,
                                kenya_district_summary,
                                liberia_district_summary,
                                malawi_district_summary,
                                sierra_leone_district_summary,
                                south_sudan_district_summary,
                                swaziland_district_summary,
                                uganda_district_summary,
                                zimbabwe_district_summary])

district_summaries = district_summaries.reset_index()
district_summaries.columns = ['country_name', 'District', 'Number of Water Points', 'Mean 1 km population per well']

In [230]:
district_summaries.head()

,country_name,District,Number of Water Points,Mean 1 km population per well
0,Afghanistan,Badakhshan,1433,366
1,Afghanistan,Badghis,558,567
2,Afghanistan,Baghlan,1373,1331
3,Afghanistan,Balkh,3666,1144
4,Afghanistan,Bamyan,654,170

In [231]:
sub_district_summaries = pd.concat([afghanistan_sub_district_summary,
                                    india_sub_district_summary,
                                    kenya_sub_district_summary,
                                    liberia_sub_district_summary,
                                    malawi_sub_district_summary,
                                    sierra_leone_sub_district_summary,
                                    south_sudan_sub_district_summary,
                                    swaziland_sub_district_summary,
                                    uganda_sub_district_summary,
                                    zimbabwe_sub_district_summary])

sub_district_summaries = sub_district_summaries.reset_index()
sub_district_summaries.columns = ['country_name', 'District', 'Sub-District', 'Number of Water Points',
                                  'Mean 1 km population per well']

In [232]:
sub_district_summaries.head()

,country_name,District,Sub-District,Number of Water Points,Mean 1 km population per well
0,Afghanistan,Badakhshan,Baharak,103,340
1,Afghanistan,Badakhshan,Fayz abad,602,319
2,Afghanistan,Badakhshan,Jurm,110,397
3,Afghanistan,Badakhshan,Kishim,617,412
4,Afghanistan,Badakhshan,Ragh,1,108

In [233]:
country_summaries.to_csv("country_level_statistics.csv", index_label = 'Row_ID')

In [234]:
district_summaries.to_csv("district_level_statistics.csv", index_label = 'Row_ID')

In [235]:
sub_district_summaries.to_csv("sub_district_level_statistics.csv", index_label = 'Row_ID')

## Add Data to Postgres

In [242]:
#Create Country-Level Table
conn_string = "host='postgres-instance2.clhlqrsuvowr.us-east-1.rds.amazonaws.com' dbname='water_db' user='alex' password='berkeley'"
conn = psycopg2.connect(conn_string)
print("Connected to database!")
cur = conn.cursor()

cur.execute("""
CREATE TABLE country_level_statistics(
    key serial PRIMARY KEY,
    country varchar,
    number_water_points integer,
    mean_1_km_population_per_well integer
)
""")
conn.commit()

print("Table created!")

Connected to database!
Table created!

In [243]:
# Add Country-Level Data
with open("country_level_statistics.csv", 'r') as file:
    next(file)  # Skip the header row.
    cur.copy_from(file, 'country_level_statistics', sep=',')

conn.commit()
print("Data committed!")

Data committed!

In [244]:
#Spot Check Country-Level Data
conn = psycopg2.connect(conn_string)
cur = conn.cursor()
cur.execute('SELECT * from country_level_statistics LIMIT 1;')
testing = cur.fetchall()
print(testing)

[(0, 'Afghanistan', 59849, 2284)]

In [245]:
#Create District-Level Table
conn_string = "host='postgres-instance2.clhlqrsuvowr.us-east-1.rds.amazonaws.com' dbname='water_db' user='alex' password='berkeley'"
conn = psycopg2.connect(conn_string)
print("Connected to database!")
cur = conn.cursor()

cur.execute("""
CREATE TABLE district_level_statistics(
    key serial PRIMARY KEY,
    country varchar,
    district varchar,
    number_water_points integer,
    mean_1_km_population_per_well integer
)
""")
conn.commit()

print("Table created!")

Connected to database!
Table created!

In [246]:
# Add District-Level Data
with open("district_level_statistics.csv", 'r') as file:
    next(file)  # Skip the header row.
    cur.copy_from(file, 'district_level_statistics', sep=',')

conn.commit()
print("Data committed!")

Data committed!

In [247]:
#Spot Check District-Level Data
conn = psycopg2.connect(conn_string)
cur = conn.cursor()
cur.execute('SELECT * from district_level_statistics LIMIT 1;')
testing = cur.fetchall()
print(testing)

[(0, 'Afghanistan', 'Badakhshan', 1433, 366)]

In [248]:
#Create Sub-District-Level Table
conn_string = "host='postgres-instance2.clhlqrsuvowr.us-east-1.rds.amazonaws.com' dbname='water_db' user='alex' password='berkeley'"
conn = psycopg2.connect(conn_string)
print("Connected to database!")
cur = conn.cursor()

cur.execute("""
CREATE TABLE sub_district_level_statistics(
    key serial PRIMARY KEY,
    country varchar,
    district varchar,
    sub_district varchar,
    number_water_points integer,
    mean_1_km_population_per_well integer
)
""")
conn.commit()

print("Table created!")

Connected to database!
Table created!

In [249]:
# Add Sub-District-Level Data
with open("sub_district_level_statistics.csv", 'r') as file:
    next(file)  # Skip the header row.
    cur.copy_from(file, 'sub_district_level_statistics', sep=',')

conn.commit()
print("Data committed!")

Data committed!

In [250]:
#Spot Check Sub-District-Level Data
conn = psycopg2.connect(conn_string)
cur = conn.cursor()
cur.execute('SELECT * from sub_district_level_statistics LIMIT 1;')
testing = cur.fetchall()
print(testing)

[(0, 'Afghanistan', 'Badakhshan', 'Baharak', 103, 340)]