In [113]:
import pandas as pd
import xgboost as xgb
from xgboost import XGBClassifier
import numpy as np
import sklearn as sk
import datetime as dt
from sklearn import model_selection
from sklearn import cat
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, mean_squared_error, auc, accuracy_score, log_loss
import os

In [166]:
!pip install category encoders

Collecting category
  Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x10398e6d8>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known',)': /simple/category/
  Retrying (Retry(total=3, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x10398eef0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known',)': /simple/category/
  Retrying (Retry(total=2, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x10398efd0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known',)': /simple/category/
  Retrying (Retry(total=1, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x10398ef60>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known',)': /simple/category/
  Retrying (Retry(total=0, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x10398ef28>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known',)': /simple/category/
  Could not find a version that satisfies the requirement category (from versions: )
No matching distribution found for category

In [2]:
pd.set_option('max_columns', 150)
pd.set_option('max_rows', 110)

In [3]:
#set input/output paths
#can eventually set this to the SOAPY API https://dev.socrata.com/foundry/data.waterpointdata.org/gihr-buz6
DATA_PATH = "~chandlermccann/Downloads/"
INPUT_FILE = os.path.join(DATA_PATH, "cleaned_water_data.csv")

In [4]:
df= pd.read_csv(INPUT_FILE, encoding='latin-1')

/Users/chandlermccann/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,3,5,6,7,9,11,12,16,17,18,19,20,30,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
#df.drop(['Row ID'], axis=1)

# create baseline model for swaziland

In [36]:
swaz = df[(df.country_name == 'Swaziland')]

In [43]:
swaz.shape

(23784, 35)

In [41]:
swaz.to_csv('swaziland_test')

In [48]:
#find columns that are objects
[col for col in swaz.columns if swaz[col].dtype.name=='object']

['country_name',
 'water_source',
 'water_tech',
 'status_id',
 'management',
 'pay',
 'installer',
 'status',
 'source',
 'adm1',
 'adm2',
 'wpdx_id',
 'report_date',
 'country_id',
 'activity_id',
 'data_lnk',
 'orig_lnk',
 'photo_lnk',
 'converted',
 'created',
 'updated',
 'Location',
 'age_well',
 'new_report_date',
 'new_install_year',
 'age_well_days']

In [50]:
swaz.head()

,Row ID,country_name,water_source,water_tech,status_id,management,pay,installer,install_year,status,source,adm1,adm2,wpdx_id,report_date,country_id,activity_id,data_lnk,orig_lnk,photo_lnk,converted,created,updated,lat_deg,lon_deg,Location,Count,fecal_coliform_presence,fecal_coliform_value,subjective_quality,age_well,status_binary,new_report_date,new_install_year,age_well_days
301736,472293,Swaziland,Borehole fitted with submersible pump,Standpipe,no,Community Management,15,NaN,1982.0,Stolen Pump,Swaziland Department of Water Affairs,SHISELWENI,MASEYISINI,wpdx-00472293,07/01/2015 12:00:00 AM +0000,SZ,Access Point6002,NaN,https://www.waterpointdata.org/dataset/resourc...,NaN,#status_id; #report_date; #management; #instal...,01/19/2017 06:10:50 AM +0000,01/19/2017 06:10:50 AM +0000,-27.1031,31.1317,"(-27.1031, 31.1317)",1,NaN,NaN,NaN,12234 days 00:00:00.000000000,1,2015-07-01,1982-01-01,12234
301737,472294,Swaziland,Borehole fitted with submersible pump,Standpipe,no,Community Management,15,NaN,1982.0,Stolen Pump,Swaziland Department of Water Affairs,SHISELWENI,MASEYISINI,wpdx-00472294,07/01/2015 12:00:00 AM +0000,SZ,Access Point6004,NaN,https://www.waterpointdata.org/dataset/resourc...,NaN,#status_id; #report_date; #management; #instal...,01/19/2017 06:10:50 AM +0000,01/19/2017 06:10:50 AM +0000,-27.1045,31.1286,"(-27.1045, 31.1286)",1,NaN,NaN,NaN,12234 days 00:00:00.000000000,1,2015-07-01,1982-01-01,12234
301738,472295,Swaziland,Borehole fitted with submersible pump,Standpipe,no,Community Management,15,NaN,1982.0,Stolen Pump,Swaziland Department of Water Affairs,SHISELWENI,MASEYISINI,wpdx-00472295,07/01/2015 12:00:00 AM +0000,SZ,Access Point6005,NaN,https://www.waterpointdata.org/dataset/resourc...,NaN,#status_id; #report_date; #management; #instal...,01/19/2017 06:10:50 AM +0000,01/19/2017 06:10:50 AM +0000,-27.1051,31.1281,"(-27.1051, 31.1281)",1,NaN,NaN,NaN,12234 days 00:00:00.000000000,1,2015-07-01,1982-01-01,12234
301739,472296,Swaziland,Borehole fitted with submersible pump,Standpipe,no,Community Management,15,NaN,1982.0,Stolen Pump,Swaziland Department of Water Affairs,SHISELWENI,MASEYISINI,wpdx-00472296,07/01/2015 12:00:00 AM +0000,SZ,Access Point6007,NaN,https://www.waterpointdata.org/dataset/resourc...,NaN,#status_id; #report_date; #management; #instal...,01/19/2017 06:10:50 AM +0000,01/19/2017 06:10:50 AM +0000,-27.1068,31.1275,"(-27.1068, 31.1275)",1,NaN,NaN,NaN,12234 days 00:00:00.000000000,1,2015-07-01,1982-01-01,12234
301740,472297,Swaziland,Borehole fitted with submersible pump,Standpipe,no,Community Management,15,NaN,1982.0,Stolen Pump,Swaziland Department of Water Affairs,SHISELWENI,MASEYISINI,wpdx-00472297,07/01/2015 12:00:00 AM +0000,SZ,Access Point6008,NaN,https://www.waterpointdata.org/dataset/resourc...,NaN,#status_id; #report_date; #management; #instal...,01/19/2017 06:10:50 AM +0000,01/19/2017 06:10:50 AM +0000,-27.1096,31.1319,"(-27.1096, 31.1319)",1,NaN,NaN,NaN,12234 days 00:00:00.000000000,1,2015-07-01,1982-01-01,12234

In [128]:
swaz.dtypes

Row ID                       int64
country_name                object
water_source                object
water_tech                  object
status_id                   object
management                  object
pay                         object
installer                   object
install_year               float64
status                      object
source                      object
adm1                        object
adm2                        object
wpdx_id                     object
report_date                 object
country_id                  object
activity_id                 object
data_lnk                    object
orig_lnk                    object
photo_lnk                   object
converted                   object
created                     object
updated                     object
lat_deg                    float64
lon_deg                    float64
Location                    object
Count                        int64
fecal_coliform_presence    float64
fecal_coliform_value       float64
subjective_quality         float64
age_well                    object
status_binary                int64
new_report_date             object
new_install_year            object
age_well_days               object
water_source_code            int64
dtype: object

In [125]:
#convert well age to int, it's an object
swaz.age_well_days.astype(int)

dtype('int64')

In [141]:
#encode water tech

lb= LabelEncoder()
pred_df = pd.DataFrame()
pred_df["water_source_code"] = lb.fit_transform(swaz["water_source"])
pred_df['water_tech_code'] = lb.fit_transform(swaz['water_tech'])

#fill na's
swaz.management.fillna('__MISSING__', inplace=True)
pred_df['management_code'] = lb.fit_transform(swaz['management'])
pred_df['source_code'] = lb.fit_transform(swaz['source'])
pred_df['adm1_code']= lb.fit_transform(swaz['adm1'])
pred_df['adm2_code']= lb.fit_transform(swaz['adm2'])
pred_df['lat_deg']= swaz['lat_deg'].values
pred_df['lon_deg'] = swaz['lon_deg'].values
pred_df['new_install_year_code'] = lb.fit_transform(swaz['new_install_year'])
swaz.age_well_days.astype(int)
pred_df['age_well_years'] = swaz['age_well_days'].values
#have to cast as int now
pred_df['age_well_years'] = round(pred_df.age_well_years.astype(int)/365,1)

#target
pred_df['status_binary'] = swaz['status_binary'].values

pred_df[0:2]
#pred_df[["water_source", "water_source_code"]].head(11)

/Users/chandlermccann/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,water_source_code,water_tech_code,management_code,source_code,adm1_code,adm2_code,lat_deg,lon_deg,new_install_year_code,age_well_years,status_binary
0,4,14,0,0,3,22,-27.1031,31.1317,17,33.5,1
1,4,14,0,0,3,22,-27.1045,31.1286,17,33.5,1

In [142]:
print(pred_df.dtypes)
pred_df.head()

water_source_code          int64
water_tech_code            int64
management_code            int64
source_code                int64
adm1_code                  int64
adm2_code                  int64
lat_deg                  float64
lon_deg                  float64
new_install_year_code      int64
age_well_years           float64
status_binary              int64
dtype: object

,water_source_code,water_tech_code,management_code,source_code,adm1_code,adm2_code,lat_deg,lon_deg,new_install_year_code,age_well_years,status_binary
0,4,14,0,0,3,22,-27.1031,31.1317,17,33.5,1
1,4,14,0,0,3,22,-27.1045,31.1286,17,33.5,1
2,4,14,0,0,3,22,-27.1051,31.1281,17,33.5,1
3,4,14,0,0,3,22,-27.1068,31.1275,17,33.5,1
4,4,14,0,0,3,22,-27.1096,31.1319,17,33.5,1

In [99]:
# to do
# encode other columns like water tech, management, source
# convert Pay to an int
# graph by install year
# fill na's with or __MISSING__

In [200]:
X = pred_df[pred_df.columns[:-1]] #age_well_days error
Y= pred_df.status_binary

In [201]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, Y,  test_size=.2, random_state=7)

In [216]:
# fit model no training data
model = XGBClassifier(learning_rate=0.05, max_depth=4, n_estimators=200, seed=7, )
model.fit(X_train, y_train)
print(model)
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
#log_loss = log_loss(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
#print('log_loss', log_loss)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=4, min_child_weight=1, missing=None, n_estimators=200,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=7, silent=True,
       subsample=1)
Accuracy: 95.59%

In [217]:
metrics.roc_auc_score(y_test, y_pred)

0.88641191662488517

# use stratified K folds/ gridsearchCV

In [228]:
params = {'learning_rate':[0.05,.1], 'max_depth':[3,4], 'n_estimators':[200,300],}
model2 = model_selection.GridSearchCV(XGBClassifier(scoring='logloss'), params)
model2.fit(X, Y)

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, scoring='logloss',
       seed=None, silent=True, subsample=1),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [200, 300], 'max_depth': [3, 4], 'learning_rate': [0.05, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [229]:
model2.best_params_

{'learning_rate': 0.05, 'max_depth': 3, 'n_estimators': 200}

In [237]:
#logloss. prior model was 2.1 without age of the well
print(model2.grid_scores_)
model2.best_score_

[mean: 0.80659, std: 0.04217, params: {'n_estimators': 200, 'max_depth': 3, 'learning_rate': 0.05}, mean: 0.79738, std: 0.06753, params: {'n_estimators': 300, 'max_depth': 3, 'learning_rate': 0.05}, mean: 0.78359, std: 0.08693, params: {'n_estimators': 200, 'max_depth': 4, 'learning_rate': 0.05}, mean: 0.78170, std: 0.09454, params: {'n_estimators': 300, 'max_depth': 4, 'learning_rate': 0.05}, mean: 0.77052, std: 0.11008, params: {'n_estimators': 200, 'max_depth': 3, 'learning_rate': 0.1}, mean: 0.76160, std: 0.13345, params: {'n_estimators': 300, 'max_depth': 3, 'learning_rate': 0.1}, mean: 0.77535, std: 0.11290, params: {'n_estimators': 200, 'max_depth': 4, 'learning_rate': 0.1}, mean: 0.77750, std: 0.12497, params: {'n_estimators': 300, 'max_depth': 4, 'learning_rate': 0.1}]

/Users/chandlermccann/anaconda3/lib/python3.5/site-packages/sklearn/model_selection/_search.py:667: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

0.80659266733938784

In [246]:
#get auc. need to reshape
preds2 = model2.predict_proba(X_test)[:,1]
preds2a = model2.predict(X_test)
#pd.DataFrame(preds2).describe()
print("Accuracy : %.4g"%metrics.accuracy_score(y_test, preds2a))
print("AUC Score (Test): %f"%metrics.roc_auc_score(y_test, preds2))

Accuracy : 0.9264
AUC Score (Test): 0.967632

# AUC 0.967 ^^^

In [231]:
#Look at importan features
pd.DataFrame(pred_df.columns[:-1],model.feature_importances_)

                              0
0.127245      water_source_code
0.037065        water_tech_code
0.012228        management_code
0.000000            source_code
0.020634              adm1_code
0.123424              adm2_code
0.182652                lat_deg
0.205961                lon_deg
0.128009  new_install_year_code
0.162782         age_well_years

In [34]:
#df['age_well_days']=df.age_well.apply(lambda x: str(x).split()[0])

In [116]:
pred_df.status_binary.sum()#/len(pred_df)

3814

In [205]:
# Do stratified split to get 10% internal valid partition for tuning
skf = model_selection.StratifiedKFold(n_splits=2, shuffle=True)
skf.get_n_splits(X,Y)
print(skf)

StratifiedKFold(n_splits=2, random_state=None, shuffle=True)

In [206]:
for train_index, test_index in skf.split(X,Y):
    print(train_index)
#     break
# print("TRAIN:", train_index, "TEST:", test_index)
# X_train2, X_test2 = X[train_index], X[test_index]
# y_train2, y_test2 = Y[train_index], Y[test_index]

[    0     1     3 ..., 23775 23779 23781]
[    2     8    12 ..., 23780 23782 23783]

In [39]:
df.age_well_days.isnull().sum()

0

In [23]:
x = df.age_well[0]
x

'13153 days 00:00:00.000000000'

In [203]:
# import numpy as np
# from sklearn import metrics
# fpr, tpr, thresholds = metrics.roc_curve(y_test, predictions, pos_label=2)
# metrics.auc(fpr, tpr)

/Users/chandlermccann/anaconda3/lib/python3.5/site-packages/sklearn/metrics/ranking.py:542: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  UndefinedMetricWarning)

nan

In [33]:
x.split()[0]

'13153'

In [42]:
swaz.groupby(['water_source']).count()

,Row ID,country_name,water_tech,status_id,management,pay,installer,install_year,status,source,adm1,adm2,wpdx_id,report_date,country_id,activity_id,data_lnk,orig_lnk,photo_lnk,converted,created,updated,lat_deg,lon_deg,Location,Count,fecal_coliform_presence,fecal_coliform_value,subjective_quality,age_well,status_binary,new_report_date,new_install_year,age_well_days
water_source,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Borehole,490,490,490,490,424,490,0,490,235,490,490,490,490,490,490,490,0,490,0,490,490,490,490,490,490,490,0,0,0,490,490,490,490,490
Borehole fitted with Manual pump,2,2,2,2,0,2,0,2,1,2,2,2,2,2,2,2,0,2,0,2,2,2,2,2,2,2,0,0,0,2,2,2,2,2
Borehole fitted with manual pump,799,799,799,799,481,799,0,799,262,799,799,799,799,799,799,799,0,799,0,799,799,799,799,799,799,799,0,0,0,799,799,799,799,799
Borehole fitted with no pump,19,19,19,19,0,19,0,19,15,19,19,19,19,19,19,19,0,19,0,19,19,19,19,19,19,19,0,0,0,19,19,19,19,19
Borehole fitted with submersible pump,9997,9997,9997,9997,3475,9997,0,9997,3395,9997,9997,9997,9997,9997,9997,9997,0,9997,0,9997,9997,9997,9997,9997,9997,9997,0,0,0,9997,9997,9997,9997,9997
Canal,76,76,76,76,0,76,0,76,0,76,76,76,76,76,76,76,0,76,0,76,76,76,76,76,76,76,0,0,0,76,76,76,76,76
Hand dug well,4,4,4,4,0,4,0,4,0,4,4,4,4,4,4,4,0,4,0,4,4,4,4,4,4,4,0,0,0,4,4,4,4,4
Protected Spring,164,164,164,164,3,164,0,164,23,164,164,164,164,164,164,164,0,164,0,164,164,164,164,164,164,164,0,0,0,164,164,164,164,164
Protected spring,1349,1349,1349,1349,399,1349,0,1349,168,1349,1349,1349,1349,1349,1349,1349,0,1349,0,1349,1349,1349,1349,1349,1349,1349,0,0,0,1349,1349,1349,1349,1349
gravity River/Stream,111,111,111,111,0,111,0,111,15,111,111,111,111,111,111,111,0,111,0,111,111,111,111,111,111,111,0,0,0,111,111,111,111,111
gravity dam,414,414,414,414,227,414,0,414,147,414,414,414,414,414,414,414,0,414,0,414,414,414,414,414,414,414,0,0,0,414,414,414,414,414
gravity river/stream,7691,7691,7691,7691,2648,7691,0,7691,576,7691,7691,7691,7691,7691,7691,7691,0,7691,0,7691,7691,7691,7691,7691,7691,7691,0,0,0,7691,7691,7691,7691,7691
pumped dam,127,127,127,127,7,127,0,127,1,127,127,127,127,127,127,127,0,127,0,127,127,127,127,127,127,127,0,0,0,127,127,127,127,127
pumped river/stream,2541,2541,2541,2541,849,2541,0,2541,389,2541,2541,2541,2541,2541,2541,2541,0,2541,0,2541,2541,2541,2541,2541,2541,2541,0,0,0,2541,2541,2541,2541,2541

In [186]:
?sk.model_selection.GridSearchCV